################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SlackBingo/.vs/SlackBingo/v16/.suo
