################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
bin/
obj/
.vscode/
.vs/
local.settings.json
node_modules/
